<%= form_with(model: kidsb, local: true) do |form| %>
  <% if kidsb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kidsb.errors.count, "error") %> prohibited this kidsb from being saved:</h2>

      <ul>
      <% kidsb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :kidsb_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :kidsb_description %>
  </div>

  <div class="field">
    <%= form.label :sdescription %><br>
    <%= form.text_area :sdescription %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :previewo %><br>
    <%= form.file_field :previewo %>
  </div>

  <div class="field">
    <%= form.label :previewt %><br>
    <%= form.file_field :previewt %>
  </div>
  
  <div class="field">
    <%= form.label :previewth %><br>
    <%= form.file_field :previewth %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :kidsb_price %>
  </div>

  <div class="field">
    <%= form.label :offerprice %>
    <%= form.number_field :offerprice %>
  </div>

  <div class="field">
    <%= form.label :coupon %>
    <%= form.text_field :coupon %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :warrenty %>
    <%= form.text_field :warrenty %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material %>
  </div>

  <div class="field">
    <%= form.label :saving %>
    <%= form.text_field :saving %>
  </div>

  <div class="field">
    <%= form.label :off %>
    <%= form.text_field :off %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
