<h1>chairs Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @chairs.each do |chair| %>
    <li>
      <h3>
        <%= link_to chair.title, controller: "chairs", action: "show", id: chair._id%>
      </h3>
    </li>
  <% end %>
</ul>


<ul>
  <% @benches.each do |bench| %>
    <li>
      <h3>
        <%= link_to bench.title, controller: "benches", action: "show", id: bench._id%>
      </h3>
    </li>
  <% end %>
</ul>