<h1>chairs Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @chairs.each do |chair| %>
    <li>
      <h3>
        <%= link_to chair.title, controller: "chairs", action: "show", id: chair._id%>
      </h3>
    </li>
  <% end %>
</ul>


<ul>
  <% @benches.each do |bench| %>
    <li>
      <h3>
        <%= link_to bench.title, controller: "benches", action: "show", id: bench._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @besidets.each do |besidet| %>
    <li>
      <h3>
        <%= link_to besidet.title, controller: "besidets", action: "show", id: besidet._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @bookcabinets.each do |bookcabinet| %>
    <li>
      <h3>
        <%= link_to bookcabinet.title, controller: "bookcabinets", action: "show", id: bookcabinet._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @centerts.each do |centert| %>
    <li>
      <h3>
        <%= link_to centert.title, controller: "centerts", action: "show", id: centert._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @diningbenches.each do |diningbenche| %>
    <li>
      <h3>
        <%= link_to diningbenche.title, controller: "diningbenches", action: "show", id: diningbenche._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @diningchairs.each do |diningchair| %>
    <li>
      <h3>
        <%= link_to diningchair.title, controller: "diningchairs", action: "show", id: diningchair._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @diningts.each do |diningt| %>
    <li>
      <h3>
        <%= link_to diningt.title, controller: "diningts", action: "show", id: diningt._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @divanbs.each do |divanb| %>
    <li>
      <h3>
        <%= link_to divanb.title, controller: "divanbs", action: "show", id: divanb._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @doublebs.each do |doubleb| %>
    <li>
      <h3>
        <%= link_to doubleb.title, controller: "doublebs", action: "show", id: doubleb._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @dressingts.each do |dressingt| %>
    <li>
      <h3>
        <%= link_to dressignt.title, controller: "dressingts", action: "show", id: dressingt._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @fabricsofasets.each do |fabricsofaset| %>
    <li>
      <h3>
        <%= link_to fabricsofaset.title, controller: "fabricsofasets", action: "show", id: fabricsofaset._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @hydraulicstoragebs.each do |hydraulicstorageb| %>
    <li>
      <h3>
        <%= link_to hydraulicstorageb.title, controller: "hydraulicstoragebs", action: "show", id: hydraulicstorageb._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @kidsbs.each do |kidsb| %>
    <li>
      <h3>
        <%= link_to kidsb.title, controller: "kidsbs", action: "show", id: kidsb._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @kidstudyts.each do |kidstudyt| %>
    <li>
      <h3>
        <%= link_to kidstudyt.title, controller: "kidstudyts", action: "show", id: kidstudyt._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @kidswardrobs.each do |kidswardrob| %>
    <li>
      <h3>
        <%= link_to kidswardrob.title, controller: "kidswardrobs", action: "show", id: kidswardrob._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @kingsizebs.each do |kingsizeb| %>
    <li>
      <h3>
        <%= link_to kingsizeb.title, controller: "kingsizebs", action: "show", id: kingsizeb._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @kitchencabinets.each do |kitchencabinet| %>
    <li>
      <h3>
        <%= link_to kitchencabinet.title, controller: "kitchencabinets", action: "show", id: kitchencabinet._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @lshapedcornersofas.each do |lshapedcornersofa| %>
    <li>
      <h3>
        <%= link_to lshapedcornersofa.title, controller: "lshapedcornersofas", action: "show", id: lshapedcornersofa._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @oneseatersofas.each do |oneseatersofa| %>
    <li>
      <h3>
        <%= link_to oneseatersofa.title, controller: "onseatersofas", action: "show", id: onseatersofa._id%>
      </h3>
    </li>
  <% end %>
</ul>



<ul>
  <% @queensizebs.each do |queensizeb| %>
    <li>
      <h3>
        <%= link_to queensizeb.title, controller: "queensizebs", action: "show", id: queensizeb._id%>
      </h3>
    </li>
  <% end %>
</ul>



<ul>
  <% @sidets.each do |sidet| %>
    <li>
      <h3>
        <%= link_to sidet.title, controller: "sidets", action: "show", id:sidet._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @singlebs.each do |singleb| %>
    <li>
      <h3>
        <%= link_to singleb.title, controller: "singlebs", action: "show", id: singleb._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @sofas.each do |sofa| %>
    <li>
      <h3>
        <%= link_to sofa.title, controller: "sofas", action: "show", id: sofa._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @sofacumbs.each do |sofacumb| %>
    <li>
      <h3>
        <%= link_to sofacumb.title, controller: "sofacumbs", action: "show", id: sofacumb._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @spotts.each do |spott| %>
    <li>
      <h3>
        <%= link_to spott.title, controller: "spotts", action: "show", id: spott._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @threeseatersofas.each do |threeseatersofa| %>
    <li>
      <h3>
        <%= link_to threeseatersofa.title, controller: "threeseatersofas", action: "show", id: threeseatersofa._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @tvcabinets.each do |tvcabinet| %>
    <li>
      <h3>
        <%= link_to tvcabinet.title, controller: "tvcabinets", action: "show", id: tvcabinet._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @twoseatersofas.each do |twoseatersofa| %>
    <li>
      <h3>
        <%= link_to twoseatersofa.title, controller: "twoseatersofas", action: "show", id: twoseatersofa._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @upholsteredbs.each do |upholsteredb| %>
    <li>
      <h3>
        <%= link_to upholsteredb.title, controller: "upholsteredbs", action: "show", id: upholsteredb._id%>
      </h3>
    </li>
  <% end %>
</ul>


<ul>
  <% @wardrobes.each do |wardrobe| %>
    <li>
      <h3>
        <%= link_to wardrobe.title, controller: "wardrobes", action: "show", id: wardrobe._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @woodensofasets.each do |woodensofaset| %>
    <li>
      <h3>
        <%= link_to woodensofaset.title, controller: "woodensofasets", action: "show", id: woodensofaset._id%>
      </h3>
    </li>
  <% end %>
</ul>

<ul>
  <% @writingts.each do |writingt| %>
    <li>
      <h3>
        <%= link_to writingt.title, controller: "writingts", action: "show", id: writingt._id%>
      </h3>
    </li>
  <% end %>
</ul>




